<h3>What's your name?</h3>
<div class="row" style="margin: 20px">
	<div class="input-group col-xs-8 col-xs-offset-2 text-center">
		<input style="margin: 5px" type="text" class="form-control" placeholder="first">
		<input style="margin: 5px" type="text" class="form-control" placeholder="middle (optional)">
		<input style="margin: 5px" type="text" class="form-control" placeholder="last">
	</div>
</div>