<h3>What do you want to do?</h3>
<div class="row" style="margin: 20px">
	<div class="input-group col-xs-8 col-xs-offset-2 text-center">
		<div class="row sample1">
			<div class="radio radio-success col-xs-6">
			  <label style="font-size: 22px">
				<input type="radio" name="sample1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
				Find a Job
			  </label>
			</div>
			<div class="radio radio-success col-xs-6" style="margin-top: 10px">
			  <label style="font-size: 22px">
				<input type="radio" name="sample1" value="option1"><span class="circle"></span><span class="check"></span>
				List a Job
			  </label>
			</div>
		  </div>
	</div>
</div>