<div class="text-center" style="margin: 20px;">
	<h1>Name Goes Here<br/>
	<small style="line-height: 40px;">Tinder, meet internships.</small></h1>
	
	<span id="signinButton">
	  <span
		class="g-signin"
		data-callback="signinCallback"
		data-clientid="630609670598-ger631r6ljbq0iq0894kjabgdhvhephb.apps.googleusercontent.com"
		data-cookiepolicy="single_host_origin"
		data-requestvisibleactions="http://schema.org/AddAction"
		data-scope="https://www.googleapis.com/auth/plus.login">
	  </span>
	</span>
</div>