<html>
	<head>
		<%- include partials/header_js.ejs %>
		<title>Home Page</title>
	</head>
	<body>		
		<%- include partials/nav.ejs %>
		<div class="container">
			<div class="form-group">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="card">
							<div class="card-body">
								<h1>Job Title</h1>
								<p>Welcome to The Unnamed Thing!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<%- include partials/body_js.ejs %>
	</body>
	
	
</html>