<div class="container">
	<div class="row" id="card_row">
		<div id="#card" class="col-md-8 col-md-offset-2">
			<div class="panel" style="padding: 0 20px">
				<div class="panel-body">
					<div id="card_content">
						<%- include partials/job_card.ejs %>
					</div>
				
					<div class="pull-left">
						<a id="deny" href="javascript:void(0)" class="btn btn-flat btn-danger">no thanks<div class="ripple-wrapper"></div></a>
					</div>
					<div class="pull-right">
						<a id="accept" href="javascript:void(0)" class="btn btn-flat btn-success">tell me more</a>
					</div>
			</div>
		</div>
	</div>
</div>

<%- include partials/body_js.ejs %>
<script>
	$(document).ready(function(){
		$("#deny").click(function(e){
			e.preventDefault();
			$.ajax({type: "POST",
				url: "/next",
				success:function(result){
					$("#card_row").animate({'duration': 3000, 'opacity': 0}, {queue:false, complete:function(){
						$("#card_content").html(result);
						$(this).animate({'duration': 3000, 'opacity': 1});
					}});
				}
			});
		});
		
		$("#accept").click(function(e){
			e.preventDefault();
			$.ajax({type: "POST",
				url: "/more",
				data: "listing="+<%=listing.id%>,
				success:function(result){
					$("#card_row").animate({'duration': 3000, 'opacity': 0}, {queue:false, complete:function(){
						$("#card_content").html(result);
						$(this).animate({'duration': 3000, 'opacity': 1});
					}});
				}
			});
		});
	});
</script>