<nav class="navbar navbar-default" ng-controller="NavController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MPloy</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <a href="/auth/google"><button type="button" class="btn btn-danger navbar-btn navbar-right" ng-hide="loggedin">Login</button></a>
      <a href="/auth/logout"><button type="button" class="btn btn-primary navbar-btn navbar-right" ng-show="loggedin">Logout</button></a>
      <p class="navbar-right navbar-text">{{ signedin }}</p>
    </div>
  </div>
</nav>
